
.comment-input {
  border: none;
  font-size: 13px;
  font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
  width: 560px;
  height: 18px;
  padding: 28px 16px;
  border-style: none;
  box-sizing: border-box;
  color: #262626;
}

.comment-button {
  color: #0095f6;
  background-color: #fff;
  margin-left: 5px;
  border-style: none;
  height: 40px;
  width: 40px;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
}